<section>
  <h2>OUR MENU</h2>
  <div class="menu-details">
    <img src="./../../../assets/img/3_section_our_menu/Png/R1.png" alt="">
    <div class="menu-item-">
      <h4>Tankotsu Ramen</h4>
        <table class="menu-table">
          <tr>
            <td>CHICKEN</td>
            <td>11,95€</td>
          </tr>
          <tr>
            <td>BEEF</td>
            <td>12,95€</td>
          </tr>
          <tr>
            <td>SGRIMP</td>
            <td>13,95€</td>
          </tr>
        </table>
    </div>
  </div>
   <div class="menu-details">
     
     <div class="menu-item-">
       <h4>Tankotsu Ramen</h4>
       <table class="menu-table">
         <tr>
           <td>CHICKEN</td>
           <td>11,95€</td>
          </tr>
          <tr>
            <td>BEEF</td>
            <td>12,95€</td>
          </tr>
          <tr>
            <td>SGRIMP</td>
            <td>13,95€</td>
          </tr>
        </table>
    </div>
    <img src="./../../../assets/img/3_section_our_menu/Png/R2.png" alt="">
  </div><!-- end of menu-details -->
   <div class="menu-details">
    <img src="./../../../assets/img/3_section_our_menu/Png/R3.png" alt="">
    <div class="menu-item-">
      <h4>Tankotsu Ramen</h4>
        <table class="menu-table">
          <tr>
            <td>CHICKEN</td>
            <td>11,95€</td>
          </tr>
          <tr>
            <td>BEEF</td>
            <td>12,95€</td>
          </tr>
          <tr>
            <td>SGRIMP</td>
            <td>13,95€</td>
          </tr>
        </table>
    </div>
  </div><!-- end of menu-details -->
  
</section>
