@import './../../../../styles.scss'; //takking variables from other file


nav{
    padding: 20px 30px 10px 30px;
    @include dFlex(space-between);
    img {
      width: 64px;
      height: 64px;
      &:hover{
        cursor: pointer;
      }
    }
    div{
      @include dFlex(space-between);
      gap: 16px;
      a{
        @include borderStyling(dotted); //mixin can use multiple times
        font-size: 36px;
        &:hover{
          cursor: pointer;
          color: orangered;
        }
      }
    }
    .phone-btn{
      @include borderStyling(dotted); //mixin can use multiple times
      @include dFlex(space-between);
      padding: 0px 7px 0px 5px;
      background-color: $my-color;
      margin-left: 10px;
      img{
      width: 36px;
      }
      span{
        font-size: 36px;
      }
    }
}