<section>
  <h2>HOW TO ODER</h2>
  <div class="order-details">
    <div class="dishes">
      <img src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png" alt="">
      <p>Pick your <br/> noodie</p>
    </div>
    <div class="dishes">
      <img src="./../../../assets/img/2_section_how_to_order/PNG/broth.png" alt="">
      <p>Pick your <br/> broth</p>
    </div>
    <div class="dishes">
      <img src="./../../../assets/img/2_section_how_to_order/PNG/egg.png" alt="">
      <p>Add your <br/> toppings</p>
    </div>
  </div>
</section>
